<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="carrito">
                <li>
                    <a href="/views/carrito.html" class="car">
                        <img src="storage/img/carrito.svg" alt="">
                    </a>
                </li>
            </div>
            <ul class="menu">
                <span class="menus">
                    <input type="checkbox" id="check">
                    <div class="productos">
                        <li><a href="/views/producto1.html">Producto 1</a></li>
                        <li><a href="/views/producto1.html">Producto 2</a></li>
                        <li><a href="/views/producto1.html">Producto 3</a></li>
                        <li><a href="/views/producto1.html">Producto 4</a></li>
                        <li><a href="/views/producto1.html">Prodcuto 5</a></li>
                        <li><a href="/views/producto1.html">Producto 6</a></li>
                        <li><a href="/views/producto1.html">Producto 7</a></li>
                        <li><a href="/views/producto1.html">Producto 8</a></li>
                        <li><a href="/views/producto1.html">Producto 9</a></li>
                        <li><a href="/views/producto1.html">Prodcuto 10</a></li>
                    </div>
                    <label for="check" class="close-menu"><i class='bx bx-x' undefined ></i></label>
                </span>
                <label for="check" class="open-menu"><i class='bx bx-menu' ></i></label>
            </ul>
        </nav>
    </header>
    <section>
        <article class="si">
            <div class="sell">
                <div class="boxproduc"><img src="/storage/img/hoodie-rey-palomo v1.webp" alt=""></div>
                <div class="text">
                    <div class="cant">
                        <strong>Nombre del producto</strong>
                        <small>2</small>
                    </div>
                </div>
                <div class="price">
                    <strong>$100.000</strong>
                    <small>$99.99</small>
                </div>
            </div>
        </article>
    </section>
    <section>
        <article class="si">
            <div class="sell">
                <div class="boxproduc"><img src="/storage/img/hoodie-rey-palomo v1.webp" alt=""></div>
                <div class="text">
                    <div class="cant">
                        <strong>Nombre del producto</strong>
                        <small>2</small>
                    </div>
                </div>
                <div class="price">
                    <strong>$100.000</strong>
                    <small>$99.99</small>
                </div>
            </div>
        </article>
    </section>
    <section>
        <article class="si">
            <div class="sell">
                <div class="boxproduc"><img src="/storage/img/hoodie-rey-palomo v1.webp" alt=""></div>
                <div class="text">
                    <div class="cant">
                        <strong>Nombre del producto</strong>
                        <small>2</small>
                    </div>
                </div>
                <div class="price">
                    <strong>$100.000</strong>
                    <small>$99.99</small>
                </div>
            </div>
        </article>
    </section>
    <section>
        <article class="si">
            <div class="sell">
                <div class="boxproduc"><img src="/storage/img/hoodie-rey-palomo v1.webp" alt=""></div>
                <div class="text">
                    <div class="cant">
                        <strong>Nombre del producto</strong>
                        <small>2</small>
                    </div>
                </div>
                <div class="price">
                    <strong>$100.000</strong>
                    <small>$99.99</small>
                </div>
            </div>
        </article>
    </section>
    <section>
        <article class="si">
            <div class="sell">
                <div class="boxproduc"><img src="/storage/img/hoodie-rey-palomo v1.webp" alt=""></div>
                <div class="text">
                    <div class="cant">
                        <strong>Nombre del producto</strong>
                        <small>2</small>
                    </div>
                </div>
                <div class="price">
                    <strong>$100.000</strong>
                    <small>$99.99</small>
                </div>
            </div>
        </article>
    </section>
    <section>
        <article class="si.">
            <div class="total">
                <div class="text">
                    <div class="cant">
                        <strong>Total</strong>
                    </div>
                </div>
                <div class="price">
                    <strong>$100.000</strong>
                </div>
            </div>
        </article>
    </section>
</body>
</html>