<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <input type="checkbox" id="check">
                <span class="menus">
                    <div class="carrito"><li><a href="#"><img src="/storage/img/carrito.svg" alt=""></a></li></div>
                    <div class="productos">
                        <li><a href="#">Producto 1</a></li>
                        <li><a href="#">Producto 2</a></li>
                        <li><a href="#">Producto 3</a></li>
                        <li><a href="#">Producto 4</a></li>
                        <li><a href="#">Prodcuto 5</a></li>
                        <li><a href="#">Producto 6</a></li>
                        <li><a href="#">Producto 7</a></li>
                        <li><a href="#">Producto 8</a></li>
                        <li><a href="#">Producto 9</a></li>
                        <li><a href="#">Prodcuto 10</a></li>
                    </div>
                    <label for="check" class="close-menu"><i class='bx bx-x' undefined ></i></label>
                </span>
                <label for="check" class="open-menu"><i class='bx bx-menu' ></i></label>
            </ul>
        </nav>
    </header>
    <section>
        <article class="all">
            <div class="producto1">
                <div class="boxmini">
                    <div class="box">
                        <img src="/storage/img/playera-chingus-rey-palomo v2.webp" alt="">
                        <img src="/storage/img/playera-chingus-rey-palomo v3.webp" alt="">
                        <img src="/storage/img/playera-chingus-rey-palomo v4.webp" alt="">
                    </div>
                    <div class="boxgrande">
                        <img src="/storage/img/playera-chingus-rey-palomo v1.webp" alt="">
                    </div>
                </div>
                <div class="volver">
                    <li class="x"><a href="/index.html"><i class='bx bx-x' undefined ></i></a></li>
                </div>
                <div class="text">
                    <h1 class="title">Nombre del producto</h1>
                    <div class="icons">
                        <img src="/storage/img/star.svg" alt="">
                        <img src="/storage/img/star.svg" alt="">
                        <img src="/storage/img/star.svg" alt="">
                        <img src="/storage/img/star.svg" alt="">
                        <img src="/storage/img/star.svg" alt="">
                    </div>
                    <p class="p">Lorem ipsum dolor sit 
                        amet consectetur, adipisicing 
                        elit. Dignissimos molestias quo 
                        atque labore error quaerat 
                        eligendi amet quas natus, ab 
                        iusto vel exercitationem earum 
                        odit nemo dicta velit, illum 
                        laudantium.</p>
                    <div class="price">
                        <strong class="price">
                            $100.000
                        </strong>
                        <small>$99.99</small>
                    </div>
                    <a href="#"><button class="boton">Obtener</button></a>
                </div>
            </div>
        </article>
    </section>
</body>
</html>